@import '../../sass/variables';

.pagination {
  height: 45px;
  margin: 30px auto;
  text-align: center;

  &__list {
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    height: 100%;
    width: 45px;
    font-family: 'Lato-Bold', sans-serif;
    font-size: 13px;
    letter-spacing: 1.39px;
    text-align: center;
  }

  &__button {
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-dark;
    background-color: $color-primary;

    &:hover {
      text-decoration: underline;
    }

    &--arrow {
      border-radius: 50px;
      background-color: #efefef;
    }

    &--separator {
      cursor: auto;
      &:hover {
        text-decoration: none;
      }
    }

    .icon {
      width: 8px;
      fill: $color-dark;
    }

    &.active {
      border-radius: 50px;
      color: #f8f8f8;
      background-color: #444a59;
    }
  }
}

@media screen and (max-width: 800px) {
  .pagination {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  &__list {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .pagination {
    &__item {
      height: 90%;
      width: 40px;
    }
  }
}

@media screen and (max-width: 350px) {
  .pagination {
    &__item {
      height: 75%;
      width: 35px;
    }
  }
}
