.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  border: 1px solid #000;
  background-color: #fff;
  top: 60px;
  right: 50px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: overlay;
  }

  button {
    margin-top: auto;

    &.button--checkout {
      border: 1px solid #444a59;
      border-radius: 100px;
      background-color: #444a59;
      outline: none;
      color: #fff;

      &:hover {
        border: 1px solid #d9d9d9;
        background-color: #ffffff;
        outline: none;
        color: #808080;
      }
    }
  }
}
