.product {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #ffffff;

  &__image-wrapper {
      padding: 20px;
      position: relative;
      text-align: center;
  }

  &__image {
      max-width: 100%;
      height: auto;
  }

  &__details {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      padding: 10px 20px 20px;
      text-align: center;
  }

  &__title {
    padding-bottom: 10px;

    font-family: 'Lato-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 1.37px;
    text-transform: uppercase;
  }

  &__subtitle {
    padding-bottom: 10px;

    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.43px;

    color: #808080;
  }

  &__price {
    padding-bottom: 20px;

    font-family: 'Lato-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 2.33px;

    &--strike {
      margin-right: 10px;
      text-decoration: line-through;
    }

    &--discounted {
      color: #F54B5E;
    }
  }

  &__wishlist-button {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__add-to-cart {
    width: 100%;
    margin-top: 10px;
    margin-top: auto;
  }
}

.button {
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  background-color: #ffffff;
  outline: none;

  cursor: pointer;
  transition: .3s border, .3s color, .3s background-color;

  &--round {
    display: block;
    border-radius: 50%;
  }

  &--primary {
    padding: 13px;

    font-family: 'Lato-Bold', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.39px;

    &:hover {
      border: 1px solid #444A59;
      color: #ffffff;
      background-color: #444A59;
    }

  }

  &--wishlist {

    & > .icon {
      fill: #d9d9d9;
      transition: .3s fill;
    }

    &:hover {
      border: 1px solid #444A59;

      & > .icon {
        fill: #444A59;
      }
    }

    &--in-cart {
      pointer-events: none;
    }
  }


  &--in-cart {
    pointer-events: none;
    background-color: #d9d9d9;
  }

}





