
.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
  background-color: #f8f8f8;
  position: relative;

  &:hover {
    .cart-item__image {
      opacity: .6;
    }

    .cart-item__remove {
      display: block;
    }
  }

  &__image {
    width: 50%;
    transition: opacity .3s;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    top: 24%;
    left: 16%;
    font-size: 30px;
    background: none;
    color: #fff;
    display: none;
    transition: display .3s;
    outline: none;
  }

  &__details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px 20px;
  }

  &__title,
  &__price {
    font-size: 10px;
  }

}