.product-list {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 -10px;
  min-height: 100vh;

  &__item {
    padding: 10px;
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media screen and (max-width: 600px) {
  .product-list {
    display: block;
    margin: 0;

    &__item {
      max-width: 100%;
    }
  }

}